<%- include('./head') %>

<footer style="background-color: aqua;">
    <div id="footer-body" class="justify-content-center text-center align-items-center">
        <h1>Totem digital</h1>
        <p>Galante Agustin</p>
    </div>
</footer>