<%- include('./head') %>

<footer style="background-color: aqua;">
    <div id="footer-body" class="justify-content-center text-center align-items-center">
        <h2>Totem digital</h2>
        <h5>7ยบ 1ยบ T.C</h5>
        <h5>E.E.T Nยบ2</h5>
    </div>
</footer>