<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../public/components/head') %>
        <title>Hoteles</title>
</head>

<body class="landing-page" style="background-image: url('img/bg_2.png'); background-color: #33B2FF;"
    onload=" hora_actual()">
    <%- include('../public/components/navigation') %>
        <main>
            <div class="container" style="margin-bottom: 200px;">
                <div class="grid-tiempo">
                    <div class="card mb-3" style="max-width: 120vh;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="img/void.png" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to
                                        additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                    <a class="btn btn-primary">Mas info</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3" style="max-width: 120vh;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/img/void.png" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to
                                        additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                    <a class="btn btn-primary">Mas info</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3" style="max-width: 120vh;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="img/void.png" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to
                                        additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                    <a class="btn btn-primary">Mas info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include('../public/components/footer.ejs') %>
            <%- include('../public/components/scripts') %>
</body>

</html>