<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../public/components/head') %>
        <title>Hoteles</title>
</head>

<body class="landing-page" style="background-image: url('img/bg_2.png'); background-color: #33B2FF;"
    onload=" hora_actual(), renderizarHoteles()">
    <%- include('../public/components/navigation') %>
        <main>
            <div class="container" style="margin-bottom: 200px;">
                <div class="grid-tiempo">
                    <div id="hoteles-contenedor">

                    </div>
                </div>
            </div>
        </main>
        <%- include('../public/components/footer.ejs') %>
            <%- include('../public/components/scripts') %>
</body>

</html>