<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../public/components/head') %>
    <title>Inicio</title>
</head>

<body class="landing-page" onload="temperatura(), focus_selector(), hora_actual(), $('#onload').fadeOut()">
    <%- include('../public/components/navigation') %>
    <!--CARDS-->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="img/cardtiempov1.png" class="card-img-top">
                    <div class="card-body" id="probando">
                        <p id="temp-actual-index">
                            <!--Listo.-->
                        </p>
                        <p class="card-text">Click para mas información sobre el tiempo en Gualeguaychú.</p>
                        <div id="footer_hora" class="card-link"
                            style="background-color: #fff; border-style: none; font-size: 12px;">
                            <a class="btn btn-primary" id="btn_tiempo" href="/tiempo">Ingresar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="img/cardmapv1.png" class="card-img-top">
                    <div class="card-body">
                        <p id="tituloCard">Mapa
                            <!--Listo.-->
                        </p>
                        <p class="card-text">Click para ver un mapa de Gualeguaychú.</p>
                        <div id="footer_hora" class="card-link"
                            style="background-color: #fff; border-style: none; font-size: 12px;">
                            <a class="btn btn-primary" id="btn_mapa" href="/mapa">Ingresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top: 20px;">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="img/cardfarmaciasv1.png" class="card-img-top">
                    <div class="card-body">
                        <p id="tituloCard">Farmacias de turno
                            <script>
                    //code...?
                            </script>
                        </p>
                        <p class="card-text">Click para ver la farmacias de turno.</p>
                        <div id="footer_hora" class="card-link"
                            style="background-color: #fff; border-style: none; font-size: 12px;">
                            <a class="btn btn-primary" id="btn_farmacias" href="/farmacias">Ingresar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="img/void.png" class="card-img-top">
                    <div class="card-body">
                        <p id="tituloCard">Restaurantes
                            <script>
                    //code...?
                            </script>
                        </p>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <div id="footer_hora" class="card-link"
                            style="background-color: #fff; border-style: none; font-size: 12px;">
                            <a class="btn btn-primary" id="btn_rest" href="#">Ingresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" id="fila3" style="margin-top: 20px;">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="img/void.png" class="card-img-top">
                    <div class="card-body">
                        <p id="tituloCard">Estaciones de servicio
                            <script>
                      //code...?
                            </script>
                        </p>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <div id="footer_hora" class="card-link"
                            style="background-color: #fff; border-style: none; font-size: 12px;">
                            <a class="btn btn-primary" id="btn_estaciones" href="#">Ingresar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="img/void.png" class="card-img-top">
                    <div class="card-body">
                        <p id="tituloCard">Hoteles
                            <script>
                    //code...?
                            </script>
                        </p>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <div id="footer_hora" class="card-link"
                            style="background-color: #fff; border-style: none; font-size: 12px;">
                            <a class="btn btn-primary" id="btn_hoteles" href="#">Ingresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Loader -->
    <div id="onload">
        <div class="lds-roller loader" id="loader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- <%- include('../public/components/scripts') %> -->
    <!--boostrap css import-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!--Jquery import-->
    <script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
<!--
    	⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
        ⣿⠉⠉⢻⡏⠉⢹⣿⡟⠉⠹⣿⣿⠏⠉⣉⠉⢻⡏⠉⣿⣿⠉⢹⡏⠉⠉⠉⢹
        ⣿⠀⠀⠀⠃⠀⢸⣿⠁⢰⠀⢹⣿⣄⠈⠛⠻⣿⡇⠀⠛⠛⠀⢸⡇⠘⠛⠛⣿⣿ 
        ⣿⠀⠀⣷⡀⠀⢸⠏⢀⣉⡀⠀⢻⠉⠹⡶⠀⠈⡇⠀⣶⣶⠀⢸⡇⠰⠶⠶⢿⣿ 
        ⣿⣦⣴⣿⣷⣤⣾⣦⣼⣿⣿⣤⣼⣷⣤⣤⣤⣾⣧⣴⣿⣿⣦⣾⣧⣤⣤⣤⣾
        ⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
-->