<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../public/components/head')%>
        <title>Ingres치 a GualeActiva</title>
</head>

<body class="landing-page"
    style="background-image: url('https://activa.gualeguaychu.gov.ar/apps/activa/img/1.png'); background-color: #FFAE00;"
    onload="hora_actual()">
    <%- include('../public/components/navigation')%>
        <main>
            <div class="container" style="max-width: 800px;">
                <div class="card">
                    <div class="card-header text-center text-white"
                        style="font-weight: bold; font-size: 18px; background-color: #007CFF;">
                        Escane치 el c칩digo QR con tu celular
                    </div>
                    <div class="card-body text-center">
                        <img class="mx-auto my-auto" src="./img/qr.png" alt="30"></img>
                    </div>
                    <div class="card-footer text-muted text-center">
                        O ingres치 a <p style="color:blue; text-decoration: underline;">activa.gualeguaychu.gov.ar</p>
                    </div>
                </div>
            </div>
        </main>
        <%- include('../public/components/footer')%>
        <%- include('../public/components/scripts')%>
</body>

</html>