<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../public/components/head')%>
        <title>Ingresá a GualeActiva</title>
</head>

<body class="landing-page" onload="hora_actual(), $('#onload').fadeOut()">

    <%- include('../public/components/navigation')%>


    <%- include('../public/components/scripts')%>
</body>

</html>