<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../public/components/head')%>
        <title>Ingresá a GualeActiva</title>
</head>

<body class="landing-page" onload="hora_actual(), $('#onload').fadeOut()">

    <%- include('../public/components/navigation')%>

        <div class="container" id="contenedor-qr">
            <h3>Escanea el codigo Qr desde tu celular</h3>

            <!-- <div style="max-width: 251px; max-height:251px">
                <img src="./img/qr.png" alt="30"></img>
            </div> -->
            <div class="row justify-content-center" style="padding: 20px;">
                <div class="col"><img src="./img/gchulogo.png" alt="40" style="opacity: 0%;"></div>
                <div class="col-6 text-center d-flex">
                    <img class="mx-auto my-auto" src="./img/qr.png" alt="30"></img>
                </div>
                <div class="col"><img src="./img/gchulogo.png" alt="40" style="opacity: 0%;"></div>
            </div>
            <div class="row justify-content-center">
                <h3>O ingresá a https://activa.gualeguaychu.gov.ar/</h3>
            </div>
        </div>


        <%- include('../public/components/scripts')%>
</body>

</html>