<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../public/components/head') -%>
        <title>Restaurantes</title>
</head>

<body class="landing-page" onload="rest_api(), hora_actual()">
    <%- include('../public/components/navigation') -%>

    <div class="container" id="contenedor-rest">
        
    </div>
    <%- include('../public/components/scripts') -%>
    <!-- <script>
    agregar_restaurante('Restaurante buenardo', 'ashee 234', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores rerum, neque, ad repudiandae nam cum architecto quae reiciendis voluptas animi quod omnis debitis ab quibusdam. Sed sunt inventore quo molestiae.')
    </script> -->
</body>
</html>