<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../public/components/head') %>
        <title>Restaurantes recomendados</title>
</head>

<body class="landing-page"
    style="background-image: url('https://activa.gualeguaychu.gov.ar/apps/activa/img/1.png'); background-color: #FFAE00;"
    onload="hora_actual()">
    <%- include('../public/components/navigation') %>
        <div class="container" style="margin-bottom: 200px;">
            <div class="grid-tiempo">
                <div class="card mb-3" style="max-width: 120vh;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="img/void.png" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                <a class="btn btn-primary">Mas info</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3" style="max-width: 120vh;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/54/Letter_A.svg/1024px-Letter_A.svg.png" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                <a class="btn btn-primary">Mas info</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3" style="max-width: 120vh;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="img/void.png" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                <a class="btn btn-primary">Mas info</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../public/components/footer.ejs') %>
        <%- include('../public/components/scripts') %>
</body>

</html>